html{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 237, 211);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#calculator{
    display: flex;
    flex-direction: column;
    width: 365px;
    padding: 30px;
    justify-content: center;
    border: solid black 3px;
    background-color: rgb(117, 161, 255);
    border-radius: 25px;
    gap: 15px;
}

#output-box{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 60px;
    padding: 0 10px;
    border: solid black 3px;
    justify-content: flex-end;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(255, 251, 246);
}

.button-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 0;
    margin: 0;
}

.input-button,
.operator-button,
.clear-button,
.backspace-button{
    height: 80px;
    width: 80px;
    border: solid black 2px;
    border-radius: 15px;
    text-align: center;
    background-color: rgb(255, 251, 246);
    flex: 0 0 auto;
}

.input-button,
.operator-button,
.backspace-button{
    font-size: 25px;
}

.clear-button{
    font-size: 15px;
}

.clicked-input{
    animation-name: clicked-input;
    animation-duration: 0.35s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
}

.clicked-operator{
    animation-name: clicked-operator;
    animation-duration: 0.35s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
}

.clicked-clear{
    animation-name: clicked-clear;
    animation-duration: 0.35s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
}

@keyframes clicked-clear{
    0% {background-color: rgb(255, 137, 137); }
    0% {height: 75px; }
    0% {width: 75px; }
}

@keyframes clicked-input{
    0% {background-color: rgb(137, 241, 255); }
    0% {height: 75px; }
    0% {width: 75px; }
}

@keyframes clicked-operator{
    0% {background-color: rgb(151, 255, 137); }
    0% {height: 75px; }
    0% {width: 75px; }
}

.output-format{
    font-size: 50px;
    text-wrap: wrap;
}